body {
	margin: 0em;
	padding: 0em;
	height: 100%;
	width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
	overflow-x: hidden;
}
a {
	padding: 0.2em;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
	color: #fff;
}
br {
    line-height: 3em;
}
.fill {
	height: 100%;
	width: 100%;
}
.center {
	display: block;
    margin: auto;
    width: 70%;
	text-align: center;
}
.top {
	background-color: #36cedc;
}
.bottom {
	background-color: #fff;
	margin: 1em;
}
.banner {
	height: 18.75em;
	width: 50em;
	padding: 1em;
}
.repo-desc {
    font-size: 2em;
    color: #ffbb99;
    font-family: 'Permanent Marker', cursive;
}

.repo-link  {
    font-family: 'Leckerli One', cursive;
    color: #e64d00;
    background-color: #fff;
    text-align: center;
    line-height: 1em;
    font-size: 2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 8em;
    height: 1em;
    border-radius: 10px;
    border: 3px outset;
}
.repo-link:hover {
    text-decoration: none;
    background-color: #008cba;
    color: #fff;
}
.pun-title {
    font-size: 3em;
    padding: 1em;
    color: #008cba;
    font-family: 'Permanent Marker', cursive;
}
.pun-item {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 4em;
    letter-spacing: 0.1em;
    padding: 0.2em;
	text-align: center;
	height: 2.5em;
	color: #3333ff;
}
.new-pun {
    cursor: pointer;
}
.fa-twitter {
	cursor: pointer;
	color: #00aced;
}
.fa-twitter:hover {
	background-color: #fff;
}
