body {
	margin: 0em;
	padding: 0em;
	height: 100%;
	width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
	overflow-x: hidden;
}
a {
	padding: 0.2em;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
	color: #fff;
}
br {
    line-height: 3em;
}
.fill {
	height: 100%;
	width: 100%;
}
.center {
	display: block;
    margin: auto;
    width: 50%;
	text-align: center;
}
.top {
	background-color: #36cedc;
}
.bottom {
	background-color: #fff;
	margin: 1em;
}
.banner {
	height: 18.75em;
	width: 50em;
	padding: 1em;
}
.repo-desc {
    font-size: 2em;
}
.repo-link  {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 10em;
    height: 1em;
}
.repo-link:hover {
    text-decoration: none;
    background-color: #008cba;
    color: #fff;
}
.pun-title {
    font-size: 2.3em;
    padding: 1em;
}
.pun-item {
    font-size: 4em;
    padding: 0.2em;
	text-align: center;
	height: 3em;
	color: #000;
}
.new-pun {
    cursor: pointer;
}
.fa-twitter {
	cursor: pointer;
	color: #00aced;
}
.fa-twitter:hover {
	background-color: #fff;
}
